<div class="card-container" >
  <ion-card (click)="goToProduct(product)">
    <offer-tag *ngIf="product.offer > 0" discount="{{((product.price - product.offer)/product.price)*100 | number:'1.0-0' }}"></offer-tag>
    <img src="assets/imgs/{{product.picture}}" />
    <ion-card-content style="text-align: left">
      <p style="font-weight: bold;font-size:14px;">
        {{product.name}}
      </p>
      <p style="font-size: 12px;">
        {{ shop_name }}
      </p>
      <p style="text-align:left;font-weight: bold;color:green;font-size:15px;">AED {{product.offer > 0 ? product.offer : product.price }}<span style="font-size: 11px;color:#666;margin-top:4px;float: right;">{{product.quantity}}</span></p>
    </ion-card-content>
  </ion-card>
  <product-options [product]="product"></product-options>
</div>
