page-single-shop {
  shrinking-header{
    position: relative;
    color: #fff;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function:linear;
    transition-duration: 0.1s;

    .shrink-content{
      position: absolute;
      z-index: 10;
      color: #fff;
      bottom: 10px;
      left:20px;
    }
  }

  shrinking-header:after{
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      background: rgba(0,0,0,0.5);
      left:0;
      top:0;
  }

  .options_strip{
    position: absolute;
    right:1%;
    top:1%;
    z-index: 10;
  }

  .options_strip button ion-icon{
    font-size: 20px;
    color: #fff;
  }

  .pl2 {
    padding-left: 2px !important;
  }
  .pr2 {
    padding-right: 2px !important;
  }

  .heading {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    color: #666;
    margin-left: 6px;
  }
  .category_grid {
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    text-align: center;
    padding:10px;
    box-shadow: 0px 0px 1px #dfdfdf;
    img{
      display: block;
      width:45px;
      height: 45px;
      margin: auto;
    }
    span {
      font-size:11px;
      font-weight: bold;
      color:#0f7b3e;
    }
  }

  .category_grid:hover,
  .category_grid:focus {
    opacity: 0.7;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }

  .dist_text{
    font-weight: normal;
    font-size: 11px;
    color:#dfdfdf;
  }

}
