page-login {
  .bg-img{
    background: url(../assets/imgs/shopping-cart.jpg) no-repeat top left !important;
    background-size: cover !important;
  }

  .container-logo {
    display: inline-block;
    width: 100%;
    margin: 0% 0px 0% 0px;
    img {
      max-width: 240px;
    }
  }
  .main-content {
    @include flexbox();
    @include flex-wrap(wrap);
    min-height: 100%;
  }
  ion-list{
    position: relative;
    top:-20px;
    border:none !important;
    outline: none;
  }
  ion-item{
    background: rgba(255,255,255,0) !important;
    border:none !important;
    outline: none;
    color:#fff !important;
    margin-bottom: 15px !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }
  .list-md, .list-ios {
    margin:0 !important;
  }
  .list {
    padding:0 !important;
  }
  form {

    .button-md,
    .button-ios {
      margin: 0px !important;
      background-color: #000;
      padding: 26px !important;
    }
    ion-icon{
      background: rgba(245,245,245,1) !important;
      color:#000 !important;
      width:44px;
      height:44px;
      display: block;
      text-align: center;
      line-height: 44px;
      position: absolute;
      top:0px;
      left:11px;
      border-radius: 50%;
    }
    .eye-icon-btn ion-icon{
      background: none !important;
      color:#fff !important;
    }

    ion-input{
      background: none !important;
      border: 1px rgba(245,245,245,0.75) solid;
      border-radius: 20px;
      border-left-color:transparent !important;
      padding-left:10%;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      box-shadow: none !important;
      outline: none !important;

    }

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child
    {
      box-shadow: none !important;
      outline: none !important;
    }

    .login_btn{
      display: block;
      width:60%;
      left:20%;
      background: rgba(245, 245, 245, 1);
      color:#000;
      border-radius: 30px;
    }

  }

  .form-bottom-text label,
  a {
    color: #fff;
  }
  .error-input{
    border-color: #ff2400;
  }


  .eye-icon-btn{
    position: absolute;
    top:0px;
    right:20px;
    background-color: transparent !important;
    color: #000;
    font-size: 2.2rem !important;
  }

}


