<ion-header>
  <ion-navbar color="primary" hideBackButton *ngIf="category == ''">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div class="header_text">
      <span class="main_head">SHOPS</span>
    </div>

    <ion-buttons right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar color="primary" *ngIf="category != ''">
    <div class="header_text">
      <span class="main_head">SHOPS</span>
    </div>

    <ion-buttons right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list text-wrap no-lines>
    <ion-item *ngFor="let shop of shopList" >
      <ion-card>
        <img src="assets/imgs/baq.jpg"/>

        <ion-card-content>
          <ion-card-title>
            {{shop.name}}
            <button ion-button small round color="secondary" icon-start style="float:right;margin-top:-5px;">
              <ion-icon name='call'></ion-icon>
              Call
            </button>
          </ion-card-title>
          <p>
            The most popular industrial group ever.
          </p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col col-6 padding>

            <button ion-button small color="dark" full icon-start style="margin-top:-10px;" round (click)="goToProduct()">
              <ion-icon name='eye'></ion-icon>
              View Store
            </button>
          </ion-col>
          <ion-col col-6 text-right>
              <rating [rate_counter]="shop.rating"></rating>
          </ion-col>

        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
