page-product-list {
  .segment_toolbar{
    border-bottom: 2px #6dc065 solid !important;
  }
  ion-segment{
    margin-bottom:-16px;

  }
  ion-segment-button{
    border:none !important;
    border-bottom: 2px transparent solid !important;
    border-radius: 0 !important;
  }

  .segment-activated{
    background: none !important;
    color:#6dc065 !important;
    border-bottom-color:#6dc065 !important;
  }
}
