<ion-header>
  <ion-navbar color="primary">
    <div *ngIf="category_title.length" class="header_text">
      <span class="main_head">{{category_title  | uppercase}}</span>
    </div>
    <ion-buttons right>
      <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar color="primary" class="segment_toolbar">
    <ion-segment [(ngModel)]="sub_cat" color="light">
      <ion-segment-button value="" (click)="activateSegment()">
        All
      </ion-segment-button>
      <ion-segment-button *ngFor="let s of sub_cats;let i = index" value="{{sub_cats[i]}}" (click)="activateSegment(i)">
        {{s | titlecase}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines text-wrap style="padding:3px;">
    <ion-item *ngFor="let product of products;let i=index"  class="pro_grid" ngClass="{{i%2 == 0 ? 'grid_right' : 'grid_left'}}">
      <div class="pro_card" [@showProducts]=products.length>
        <offer-tag *ngIf="product.offer > 0" discount="{{((product.price - product.offer)/product.price)*100 | number:'1.0-0' }}"></offer-tag>
        <img src="{{'assets/imgs/'+product.picture}}" style="width:100%;"/>
        <div class="card-content">
          <div class="card-title">
            <span style="font-weight: bold;font-size:14px;">{{product.name}}</span>
          </div>
          <p style="font-size: 12px;">
            <ion-icon name="pin"></ion-icon> {{product.shop_name}}
          </p>
        </div>
        <ion-row no-padding>
          <ion-col no-padding padding-top col-7>
            <p style="font-weight: bold;color:green;font-size:16px;">AED {{product.offer > 0 ? product.offer : product.price }}</p>
          </ion-col>
          <ion-col padding-top text-right col-5>
            <p style="float:right">{{product.quantity}}</p>
          </ion-col>
        </ion-row>
        <cart-button [product]="product" style="float: right;"></cart-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
