shop-box {
  ion-card {
    padding: 0px;
    margin: 4px;
  }
  ion-card img {
    max-width: 100% !important;
    height: 100px !important;
    margin:auto;
    margin-top:3px;
  }
  .button_strip{
    width:90px;
    height:30px;
    margin:auto;
  }
  .button_strip button{
    width:30px;
    height: 30px;
    display: block;
    float: left;
    margin:auto !important;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0 0 1px #d9d9d9;
    background: transparent !important;
    color:#666 !important;
  }
}
