<ion-header>
  <ion-navbar color="primary" hideBackButton *ngIf="category == ''">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div class="header_text">
      <span class="main_head">SHOPS</span>
    </div>

    <ion-buttons right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar color="primary" *ngIf="category != ''">
    <div class="header_text">
      <span class="main_head">SHOPS</span>
    </div>

    <ion-buttons right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list text-wrap no-lines>
    <ion-item *ngFor="let shop of shopList" >
      <ion-card>
        <img src="assets/imgs/{{shop.image}}"/>
        <div class="card-title">
            {{shop.name}}
        </div>
        <div class="card-subtitle">500m away</div>
        <rating [rate_counter]="shop.rating" style="float: right"></rating>
        <div class="options_strip">
          <button ion-button small color="dark" icon-only clear (click)="shopSingle(shop)">
            <ion-icon name='checkmark'></ion-icon>
          </button>
          <button ion-button small color="secondary" icon-only clear>
            <ion-icon name='call'></ion-icon>
          </button>
          <button ion-button small color="secondary" icon-only clear>
            <ion-icon name='share'></ion-icon>
          </button>
          <button ion-button small color="secondary" icon-only clear>
            <ion-icon name='heart'></ion-icon>
          </button>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
