page-deals{
  .pro_grid{
    background:#fff !important;
    border:1px #dfdfdf solid !important;
    width:49.5%;
    margin-top:0.5%;
    margin-bottom:0.5%;
    display: inline-block;
    float:left;
  }
  .grid_left{
    margin-left:1%;
    margin-right: auto;
  }
  .grid-right{
    margin-right:1%;
    margin-left:auto;
  }
}
