<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div class="header_text">
      <span class="main_head">HOT DEALS</span>
    </div>

    <ion-buttons right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content>
  <ion-list no-lines text-wrap style="padding:3px;">
    <ion-item *ngFor="let product of products;let i=index"  class="pro_grid" ngClass="{{i%2 == 0 ? 'grid_right' : 'grid_left'}}">
      <div class="pro_card">
        <offer-tag *ngIf="product.offer > 0" discount="{{((product.price - product.offer)/product.price)*100 | number:'1.0-0' }}"></offer-tag>
        <div class="pro_card-inner" (click)="showProduct(product)">
          <img src="{{'assets/imgs/'+product.picture}}" style="display:block;max-width:100%;height: 120px;margin: auto;" />
          <div class="card-content">
            <div class="card-title">
              <span style="font-weight: bold;font-size:14px;">{{product.name}}</span>
            </div>
            <p style="font-size: 10px;">
              {{product.shop_name}} (500m away)
            </p>
            <ion-row no-padding>
              <ion-col no-padding col-7>
                <p style="font-weight: bold;color:green;font-size:16px;">AED {{product.offer > 0 ? product.offer : product.price }}</p>
              </ion-col>
              <ion-col no-padding text-right col-5>
                <p style="float:right">{{product.quantity}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <product-options [product]="product"></product-options>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
