<ion-navbar color="dark" hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div *ngIf="title.length==0" class="header_text">
      <span class="main_head">Welcome, Faizunnabi !</span>
      <span class="sub_head">
      <ion-icon name="pin"></ion-icon> 15 Street,Al Dhafrah,Abu Dhabi
    </span>
    </div>
    <div *ngIf="title.length" class="header_text">
      <span class="main_head">{{title  | uppercase}}</span>
    </div>
    <ion-buttons *ngIf="type.length && type=='product'" right>
      <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="type.length && type=='shop'" right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="type.length && type=='search'" right>
      <button ion-button >
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="type.length && type=='cart'" right>
      <button ion-button>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  <ion-buttons *ngIf="type.length && type=='main'" right>
    <button ion-button>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

